.sidebar {
  width: 220px;
  background-color: #6f4e37;
  color: white;
  padding: 20px;
  min-height: 100vh;
}

.sidebar h2 {
  font-size: 25px;
  margin-bottom: 10px;
  font-weight: bold;
  text-align: center;
}

.sidebar h3 {
  font-size: 15px;
  margin-bottom: 10px;
  font-weight: bold;
  text-align: center;
  padding-bottom: 10px;
  border-bottom: solid rgb(170, 165, 165) 1px;
}

.nav {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.link {
  color: #ccc;
  text-decoration: none;
  font-size: 16px;
  padding: 8px 12px;
  border-radius: 4px;
  transition: background-color 0.2s ease;
}

.link:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.active {
  color: #fff;
  background-color: #8b5e3c;
  font-weight: bold;
}

@media (max-width: 768px) {
  .sidebar {
    /* width: 100%; */
    /* min-height: auto; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 30px 10px;
  }

  .nav {
    gap: 10px;
  }

  .link {
    font-size: 14px;
    padding: 6px 10px;
  }

  .sidebar h2,
  .sidebar h3 {
    display: none;
  }
}
